@font-face {
    font-family: 'EB Garamond';
    src: url(./EBGaramond12-Regular.ttf)
}

@font-face {
    font-family: 'Montserrat-Black';
    src: url(./MontserratAlt1-Black.ttf)
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(./MontserratAlt1-Bold.ttf)
}

@font-face {
    font-family: 'Montserrat-Thin';
    src: url(./MontserratAlt1-Thin.ttf)
}